<!DOCTYPE html>
<html lang="en">
<head>
  <title>COVID</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    body  {
      background-image: url("/static/home.png") ;
      background-size: cover;
      background-repeat: no-repeat;
      background-color: #f9f4f4;
    }
    </style>
  <style>
    
    .akshat{
      width: 50%;
      min-height:20px;
    }
    
  </style>
</head>
<body>
  
  <nav class="navbar navbar">
    <div class="container-fluid" style="background-color: rgba(50, 175, 212, 3.5);">
      <img class="navbar-brand"  src="/static/logo.png"  height="140px" width="80px">
      </a>
      <div class="collapse navbar-collapse" id="myNavbar">
        <!-- <ul class="nav navbar-nav"> -->
          
        <!-- </ul> -->
        <ul class="nav navbar-nav navbar-right" style="background-color: rgb(96, 201, 96); padding: 5px;" >
          
          <li ><a style="color: black;" href="#" style="color: white;">Home</a></li>
         <li ><a class="nav-link dropdown-toggle" data-toggle="dropdown"  style="color: black;">Login</a> 
          <!-- rgb(117, 223, 175) -->
          
            <div class="dropdown-menu" style=" background-color: rgba(242, 84, 5,4.0);">
              <a class="dropdown-item"  href="/admin"  style=" color: white; text-decoration:None; margin: 10,10,10,10;"><h5>Admin Login</h5></a><hr>
              <a class="dropdown-item" href="/user"  style="color: white; text-decoration:None ;"></h5>User Login</h5></a>
            
            
            </div>
          </li>
        </ul>
      </div>
  </nav>

  
<div class="container text-center">    
  <p style="background-image: url('home.jpg');"></p>
    </div>
    <div class="col-sm-4"> 
      <!-- <h1>Get Vaccinated</h1>
      <p>Be a Fighter! If you are fully or partially vaccinated, you can now share your vaccination status in your social circle. Let's encourage our friends and followers in joining India's battle against COVID-19.</p>    
         -->
    </div>
    
    <div class="col-sm-4">
        <div class="well">
        
            <h1>Covid Vaccination Booking</h1>
          </div>
      <div class="well">
        
          <img src="/static/home.png" height="240px" >
        
      
           </div>
           <div class="well">
            <h1>Get Vaccinated</h1>
            <p>Be a Fighter! If you are fully or partially vaccinated, you can now share your vaccination status in your social circle. Let's encourage our friends and followers in joining India's battle against COVID-19.</p>    
              
           </div>
      
    </div>
   
      
   
  </div>
</div><br>



</body>
</html>
